@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900;
    @apply text-gray-900 dark:text-gray-50;
    @apply overflow-x-hidden;
  }
}

@layer components {
  .btn {
    @apply font-medium rounded-full px-4 py-1 cursor-pointer hover:-translate-y-0.5 transition-transform;
    @apply flex items-center justify-center;
  }

  .btn-primary {
    @apply bg-gray-950 dark:bg-gray-50 text-gray-50 dark:text-gray-950;
  }

  .btn-secondary {
    @apply text-gray-950 dark:text-gray-50;
    @apply border border-gray-950 dark:border-gray-50;
    @apply shadow;
  }

  .btn-neutral {
    @apply bg-slate-700;
  }

  .title {
    @apply font-bold text-3xl text-center tracking-wide;
  }
}

.hero-background {
  background: linear-gradient(90deg, #f9d6b8 10%, #f5a16d 30%, #ff6464 50%, #c7468d 70%, #86569c 90%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.hero-height {
  line-height: 1.5 !important;
}

.top-margin {
  margin-top: 2rem;
}