@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900;
    @apply text-slate-900 dark:text-slate-50;
    @apply overflow-x-hidden;
  }
}

@layer components {
  .btn {
    @apply font-medium rounded px-2 py-1 cursor-pointer hover:-translate-y-0.5 transition-transform;
  }

  .btn-pill {
    @apply rounded-lg px-6 py-2;
  }

  .btn-primary {
    @apply bg-emerald-600;
  }

  .btn-neutral {
    @apply bg-slate-700;
  }

  .title {
    @apply font-bold text-3xl text-center;
  }
}
