@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F5F5F5];
    @apply text-[#000000];
    @apply overflow-x-hidden;
    @apply font-montserrat;
  }

  h1 {
    font-weight: 500;
    font-size: large;
    @apply my-2;
  }

  h2 {
    font-weight: 500;
    font-size: medium;
    @apply my-2;
  }

  p {
    @apply my-2;
  }
}

@layer components {
  .btn {
    @apply font-bold rounded-lg px-8 py-2 cursor-pointer hover:-translate-y-0.5 transition-transform;
    @apply flex items-center justify-center;
  }

  .btn-primary {
    @apply bg-brand-primary2 text-white;
  }

  .btn-secondary {
    @apply text-black;
    @apply border border-black px-6;
  }

  .btn-neutral {
    @apply bg-slate-700;
  }

  .title {
    @apply font-medium text-gray-500 text-left;
  }

  .bg-gradient {
    background: radial-gradient(
      circle,
      rgba(41, 146, 184, 0.1294642857142857) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .page-x-width {
    @apply max-w-4xl;
    @apply mx-auto;
    @apply px-4;
  }

  .navbar-shadow {
    box-shadow: 0 0px 50px -15px rgba(0, 0, 0, 0.1);
  }
}

.hero-background {
  background: linear-gradient(
    90deg,
    #f9d6b8 10%,
    #f5a16d 30%,
    #ff6464 50%,
    #c7468d 70%,
    #86569c 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-height {
  line-height: 1.5 !important;
}

.top-margin {
  margin-top: 2rem;
}
